{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Siz uchun foydali videolar sahifasi</title>
{% endblock %}

{% block menu %}

<ul class="nav navbar-nav" >
    <div >
    <div class="nav navbar-nav">
    <li><a href="/">BOSH SAHIFA</a></li>
    <li><a href="{% url 'markazlar' %}">DXM MANZILLARI</a></li>
    <li ><a href="{% url 'gallery' %}">GALLERY</a></li>
    <li><a href="{% url 'about' %}">BIZNING MANZIL</a></li>
    {% if user.is_authenticated %}
    <input type='hidden'>
    {% else %}
    <li class="current"><a href="{% url 'login_user' %}">KIRISH</a></li>
    <li><a href="{% url 'signup' %}">REGISTR</a></li>
    </div>
    <div>
    <li>
    {% endif %}
    {% if user.is_authenticated %}
    <li><a href="{% url 'user_account' %}"> SHAXSIY KABINET</a></li>
    <form action="{% url 'logout_user' %}" method="post" class="chiqish" style="display: inline-block">
        {% csrf_token %}
        <button type='submit' class="chiqish_tugma"  value="">
        
        CHIQISH<img id="chiqish" width="10%" height="25px" src="{% static 'blog/img/icon/chiqish22.png' %}" alt="">
        </button>
    </form>
    {% endif %}
    </li>
    </div></div>
</ul>
{% endblock menu %}

{% block content %}
    <!-- home start -->
<div class="container">
<div class="row">
        <div class="templatemo_home_top">
        <div class="col-md-8">
            <div class="templatemo_home_top_left shadow col">

            <h3>Parolni tiklash</h3>

            <p>Agar siz kiritgan elektron pochta orqali hisob mavjud bo'lsa, parolni o'rnatish bo'yicha ko'rsatmalarni elektron pochta orqali jo'natdik. Tez orada ularni qabul qilishingiz kerak.</p>

            <p>Agar elektron pochta xabarini olmasangiz, ro'yxatdan o'tgan manzilingizni kiritganingizga ishonch hosil qiling va spam papkangizni tekshiring.</p>

            </div>
        </div>
        <div class="col-md-4  col-xs-12"><img id="logotip" src="{% static 'blog/img/right1.png' %}" class="shadow" alt="templatemo home image01"></div>
        </div>
    </div>
</div>                    

{% endblock content %}