{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Rishton tuman Davlat xizmatlari markazi</title>
{% endblock %}
{% block menu %}
<ul class="nav navbar-nav" >
                  <div >
                  <div class="nav navbar-nav" >
                    <li class="current"><a href="/">BOSH SAHIFA</a></li>
                    <li><a href="{% url 'markazlar' %}">DXM MANZILLARI</a></li>
                    <li><a href="{% url 'gallery' %}">GALLERY</a></li>
                    <li><a href="{% url 'about' %}">BIZNING MANZIL</a></li>
                    {% if user.is_authenticated %}
                    <input type='hidden'>
                    {% else %}
                    <li><a href="{% url 'login_user' %}">KIRISH</a></li>
                    <li><a href="{% url 'signup' %}">REGISTR</a></li>
                  </div>
                  <div>
                    <li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'user_account' %}"> SHAXSIY KABINET</a></li>
                    <form action="{% url 'logout_user' %}" method="post" class="chiqish" style="display: inline-block">
                      {% csrf_token %}
                      <button type='submit' class="chiqish_tugma"  value="">
                        
                      CHIQISH<img id="chiqish" width="10%" height="25px" src="{% static 'blog/img/icon/chiqish22.png' %}" alt="">
                      </button>
                    </form>
                    {% endif %}
                    </li>
                  </div></div>
                </ul>
{% endblock menu %}
    

    {% block content %}
    <!-- home start -->
    <div class="container">
        <div class="row">
        	<div class="templatemo_home_top">
        	<div class="col-md-8">
            	<div class="templatemo_home_top_left shadow"  style="color: #fff;">
                {% for i in tashkil %}
            	<div class="templatemo_hometop_title">{{i.sarlavha1|safe}}</div>
                <div class="templatemo_hometop_stitle">{{i.sarlavha2|safe}}</div>
                <p>{{i.matn1|safe |truncatechars:400}}</p>
                <p> {{i.matn2|safe |truncatechars:160}} </p>
                {% endfor %}
                <a href="{% url 'about' %}"><div class="templatemo_buttongreen">Batafsil..</div></a>
                <div class="clear"></div>
              </div>
            </div>
        <div class="col-md-4  col-xs-12"><img id="logotip" src="{% static 'blog/img/right1.png' %}" class="shadow" alt="templatemo home image01"></div>
        </div>
    </div>
</div>
<div class="container" id="index_body">
    <div class="row margin30">
        <div class="col-md-8">
            <div class="templatemo_home_botleft shadow">
            {% if vid %}
            {% for i in vid %}
                <div class="container-fluid"> 
                    <video autoplay  style="width: 100%; height: 100%;" controls>
                        <source  src="{{i.video.url}}" />
                    </video>
                </div>
                <div class="para">
                    <div class="big ">{{i.sarlavha}}</div>
                    <div class="text">
                        <p>{{i.matn|safe | truncatechars:400}}</p></div>
                    <a href="{% url 'onevideo' i.id %}"><div class="templatemo_buttongreen" >BATAFSIL..</div></a>
                    <div class="clear"></div>
                </div>
            {% endfor %}
            {% else %} 
              <h2>Ayni vaqtda yangiliklar mavjud emas!</h2>
            {% endif %}
            </div>
        </div>
        <div class="col-md-4 s_margin30">
            <div class="templatemo_home_botright shadow">
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1">So`ngi yangiliklar</a></li>
                        <li><a href="#tabs-2">Siz uchun foydali</a></li>
                    </ul>
                    <div id="tabs-1">
                        <div class="templatemo_popular_wrapper">
                        {% if news %}
                        
                            {% for i in news %}
                            <a href="{% url 'newsdetail' i.id %}">
                            <div class="popular_box">
                                <div class="image" style=" height: 8rem;"><img class="a" src="{{i.rasm1.url}}" alt="popular 1"></div>
                                <div class="text"><b><p>{{i.sarlavha|safe | truncatechars:90}}</b>  <br>{{i.sana|date:"D d M Y"}} </p></div>
                            </div>
                            </a>
                            {% endfor %}
                        
                        {% else %}
                        <h2>Yangilikar joylanmagan!</h2>
                        {% endif %}
                            <a href="{% url 'allnews' %}">
                            <div class="clear"><p class="all-news"> Barcha yangiliklar</p></div>
                            </a>
                        </div>
                    </div>
                    <div id="tabs-2">
                        <div class="templatemo_recent_wrapper">
                        {% if video %}
                            {% for x in video %}
                            <a href="{% url 'onevideo' x.id %}">
                            <div class="recent_box">
                                <div class="col-md-5" style="padding-left: 0px;">
                                    <video class="embed-responsive embed-responsive-9by4"   style="max-width: 100%; max-height: 50%;">
                                        <source  src="{{x.video.url}} " />
                                    </video>
                                </div>
                                <div class="text">{{x.sarlavha|safe | truncatechars:70}}</div>
                            </div>
                            </a>
                            {% endfor %}
                            {% else %}
                            <div class="text">Videolar joylanmagan!</div>
                            {% endif %}
                            <div class="clear"></div>
                            
                            <a href="{% url 'allvideo' %}">
                            <div class="clear"><p id="all-video"> Barcha videolar</p></div>
                            </a>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- home end -->
<!-- tana qismi 2-->

<!-- tana qismi 2-->
    <div class="container">
 	   <div class="row margin30">
       		<div class="col-md-4">
            	<div class="templatemo_home_midleft shadow">
                    <div class="templatemo_home_midleft_in">
                        <div class="small">DAVLAT XIZMATLARI MARKAZLARIDA AMALGA OSHIRILADIGAN XIZMAT TURLARI</div>
                        <a href="{% url 'services' %}"><div class="button">BATAFSIL...</div></a>
                    </div>
                    <div class="clear"></div>
              </div>
            </div>
         	<div class="col-md-4 s_margin30">
            	<div class="templatemo_home_midmid shadow">
                	<div class="big">BIBENDUM AUCTOR 
                    	<!-- <span class="icon">i</span> -->
                    </div>
                    <div class="small">LOREM IPSUMS DOLOR</div>
                    <div class="para">
                    	Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                  	</div>
                    <div class="green">
                    	MORBI ACCUSAN SANTOS NAMIPSUM VELIT AM NEDOLOR TOELLUS A ODIOO. 
                  	</div>
                    <div class="readmore"><a href="{% url 'allvideo' %}">READ MORE</a></div>
                    <div class="clear"></div>
              </div>
            </div>
          	<div class="col-md-4 s_margin30">
            	<img src="{% static 'blog/images/templatemo_home022.jpg' %}" class="shadow" alt="templatemo home image02">
                <a href="{% url 'gallery' %}">
                <div class="templatemo_home_midright">
                	<div class="big">RASMLARDA</div>
                    <div class="small">XIZMAT TURLARI</div>
                </div></a>
            </div>
       </div>
    </div>

{% endblock content %}